# Temporary Files
/var/*

!/var/cache
/var/cache/*
!var/cache/.gitkeep

!config/services/.gitkeep
!config/routings/.gitkeep

!/var/logs
/var/logs/*
!var/logs/.gitkeep

# Configuration
/app/config/parameters.yaml

# Third Party libraries
/vendor/
/composer.phar
